#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 90vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #loading h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: center;
    margin-top: 20%;
  }